extends: default

rules:
  line-length: disable
  document-start: disable
  new-lines: disable  # line endings are .gitattributes' job, and local checkouts are CRLF
  braces:
    max-spaces-inside: 1
